* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  font-weight: 300;
  color: #111111;
}

section {
  padding: 100px;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.content .imgBx {
  width: 100%;
  height: 300px;
}

.content .imgBx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content .text {
  padding: 15px 0 5px;
}

.content .text h3 {
  color: #111111;
  font-weight: 400;
}

.hide {
  margin: 0;
  transition: 1s;
  height: 0px;
  overflow: hidden;
}

.hide .content {
  margin-top: 0;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row .col50 {
  width: 48%;
}

.row .col50 .imgBx {
  width: 100%;
  min-height: 300px;
  height: 100%;
}

.row .col50 .imgBx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titleText {
  color: #111111;
  font-size: 2em;
  font-weight: 300;
}

.titleText span {
  display: inline-block;
}

.titleText span::first-letter {
  font-size: 1.5em;
  font-weight: 700;
  color: #ff0157;
}

.white .titleText,
.white p {
  color: #ffffff;
}

.btn {
  display: inline-block;
  font-size: 1em;
  color: #ffffff;
  background: #ff0157;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  cursor: pointer;
  border: none;
}

.btn:hover {
  letter-spacing: 6px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  right: 0;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header .logo {
  color: #ffffff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

header .logo span {
  color: #ff0157;
}

header.sticky {
  background: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 5px 20px rgba(17, 17, 17, 0.1);
}

header.sticky .logo {
  color: #111111;
}

header.sticky .navbar li a {
  color: #111111;
}

header.sticky .burger {
  filter: invert(1);
}

.navbar {
  position: relative;
  display: flex;
}

.navbar li {
  list-style: none;
  margin-left: 30px;
}

.navbar li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
}

.navbar li a:hover {
  color: #ff0157;
}

@media (max-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ff0157;
    opacity: 0;
    transform: translateY(1000%);
    transition: opacity 0.5s, transform 0s 0.5s;
  }
  .navbar.active {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 0.5s, transform 0s;
  }
  .navbar li {
    margin: 5px;
  }
  .navbar a {
    background: #fff;
    color: #ff0157 !important;
    font-weight: 500 !important;
    display: block;
    padding: 10px 50px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.burger {
  display: none;
  width: 50px;
  height: 50px;
}

.burger img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner {
  width: 100%;
  min-height: 100vh;
  padding: 100px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/bg.jpg") no-repeat center center;
  background-size: cover;
}

.banner .content {
  max-width: 900px;
  text-align: center;
}

.banner .content h2 {
  font-size: 5em;
  color: #ffffff;
}

.banner .content p {
  font-size: 1em;
  color: #ffffff;
}

.menu .content .box {
  width: 340px;
  margin: 20px;
  border: 15px solid #ffffff;
  box-shadow: 0 5px 35px rgba(17, 17, 17, 0.1);
}

.menu .content .box .text {
  padding: 15px 0 5px;
}

.menu .content .box .text h3 {
  color: #111111;
  font-weight: 400;
}

.expert .content .box {
  width: 250px;
  margin: 15px;
}

.expert .content .box .imgBx {
  object-position: center top;
}

.testimonials {
  background: url("../images/bg2.jpg") no-repeat center center;
  background-size: cover;
}

.testimonials .box {
  width: 340px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 20px;
  padding: 40px;
  background: #ffffff;
}

.testimonials .box .imgBx {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.testimonials .box .text {
  text-align: center;
}

.testimonials .box .text p {
  color: #666666;
  font-style: italic;
}

.testimonials .box .text h3 {
  margin-top: 20px;
  font-weight: 600;
  color: #ff0157;
}

.contact {
  background: url("../images/bg3.jpg") no-repeat center center;
  background-size: cover;
  background-position: right center;
}

.contactForm {
  max-width: 500px;
  padding: 75px 50px;
  background: #ffffff;
  box-shadow: 0 15px 50px rgba(17, 17, 17, 0.2);
  margin-top: 50px;
}

.contactForm h3 {
  color: #111111;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500;
}

.contactForm .inputBox {
  width: 100%;
  margin-bottom: 20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #555555;
  font-size: 16px;
  font-weight: 300;
  outline: none;
}

.contactForm .inputBox textarea {
  resize: none;
  min-height: 100px;
}

.contactForm .inputBox .btn {
  border: none;
  padding: 10px;
  margin-top: 0;
  max-width: 100px;
}

footer {
  border-top: 1px solid rgba(17, 17, 17, 0.1);
  padding: 8px 40px;
}

footer .copyrightText {
  text-align: center;
}

footer .copyrightText p {
  color: #333;
}

footer .copyrightText a {
  color: #ff0157;
  font-weight: 500;
  text-decoration: none;
}

@media (max-width: 1200px) {
  section {
    padding: 100px 50px 0;
  }
  header {
    padding: 40px 50px;
  }
  .expert,
  .testimonials {
    padding-bottom: 50px;
  }
  .contact {
    margin-bottom: 100px;
  }
  .expert .content .box {
    max-width: 300px;
    width: calc(50% - 40px);
  }
  .expert .content .imgBx {
    height: 400px;
  }
}

@media (max-width: 992px) {
  section {
    padding: 70px 25px 0;
  }
  .row .col50 {
    width: 100%;
  }
  .row .imgBx {
    margin-top: 20px;
  }
  header {
    padding: 40px 25px;
  }
  .banner .content h2 {
    font-size: 4em;
  }
  .menu .content .box,
  .testimonials .box {
    max-width: 340px;
    width: calc(50% - 40px);
  }
}

@media (max-width: 768px) {
  section {
    padding: 70px 15px 0;
  }
  .burger {
    display: block;
  }
  .menu .content .box {
    margin: 10px;
    width: calc(50% - 20px);
  }
  .testimonials .box {
    max-width: 500px;
    width: 100%;
  }
  .menu .content .box .imgBx {
    height: calc(50vw - 80px);
  }
  .expert .content .box {
    max-width: 100%;
    width: calc(50% - 40px);
  }
  .expert .content .imgBx {
    height: calc(50vw);
  }
  .contactForm {
    margin: 70px auto 0;
  }
}

@media (max-width: 540px) {
  .banner .content h2 {
    font-size: 13vw;
    line-height: 1.1;
    margin-bottom: 20px;
  }
  .menu .content .box {
    max-width: 300px;
    width: 100%;
  }
  .menu .content .box .imgBx {
    height: 250px;
  }
  .expert .content .box {
    max-width: 250px;
    width: 100%;
  }
  .expert .content .box .imgBx {
    height: 340px;
  }
  .testimonials .box {
    margin: 20px 0;
  }
  .contactForm {
    padding: 50px 20px;
  }
}
